<h1>Sign up</h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <h2>You</h2>
  <%= render 'you_fields', f: f %>

	<h2>Your Little One</h2>
	<div class="row">
    <%= f.fields_for :children do |builder| %>
      <%= render 'little_one_fields', f: builder %>
    <% end %>
  </div>

	<h2>Your Distribution List</h2>
  <%= f.fields_for :sendees do |builder| %>
    <%= render 'sendee_fields', f: builder %>
  <% end %>
  <span class="links"><%= link_to_add_fields "Add Another!", f, :sendees %></span>
  
	<div style="clear:both;"><%= f.submit "Sign up", class: "submit", style: "margin-top:25px;" %></div>
<% end %>

<div style="margin:20px 0 0 0"><%= render "devise/shared/links" %></div>