<h2>Edit Your Little One's Info</h2>

<%= form_for @child do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	
	<div class="flabel">First Name</div>
	<%= f.text_field :first_name, required: true, style: "font-size:110%;" %>

	<div class="flabel">Last Name</div>
	<%= f.text_field :last_name, required: true, style: "font-size:110%;" %>

	<div class="flabel">Birthday</div>
	<% if f.object.birthday? %>
		<%= f.date_select :birthday, {order: [:month, :day, :year], 
									  start_year: Time.now.year - 15, 
									  end_year: Time.now.year}, 
									  {style: "width:92px;"} %>
	<% else %>
		<%= f.date_select :birthday, {order: [:month, :day, :year],
									  start_year: Time.now.year - 15, 
									  end_year: Time.now.year, 
									  prompt: true}, 
									  {style: "width:92px;", 
									  required: true} %>
	<% end %>
	
	<div>
		<%= f.submit "Update", class: "submit" %>
	</div>
<% end %>