<%= render 'shared/error_messages', object: f.object %>
<div>
	<span class="span4" style="margin-left:0;">
    <div style="float:left;margin-bottom:15px;">
			<div style="float:left;">
		    <div class="flabel">First Name</div>
		    <%= f.text_field :first_name, required: true, style: "width:120px;margin-right:17px;font-size:110%;" %>
			</div>
			<div style="float:left;">
		    <div class="flabel">Last Name</div>
		    <%= f.text_field :last_name, required: true, style: "width:120px;font-size:110%;" %>
			</div>
			<div style="float:left;">
		    <div class="flabel">Relationship to Child</div>
		    <%= f.select :relationship, Sendee::RELATIONSHIPS, { include_blank: true, required: true }, style: "width:288px;" %>
			</div>
			<div style="float:left;">
				<div class="flabel">Address</div>
				<%= f.text_field :address, required: true, style: "font-size:110%;" %>
	    </div>
    </div>
	</span>
	<span class="span6">
		<div style="float:left;margin-bottom:15px;">
	    <div style="float:left;">
		    <div class="flabel">City</div>
		    <%= f.text_field :city, required: true, style: "width:120px;margin-right:17px;font-size:110%;" %>
			</div>
			<div style="float:left;">
		    <div class="flabel">State/Province</div>
		    <%= f.text_field :state, style: "width:120px;font-size:110%;" %>
			</div>
			<div style="float:left;">
				<div class="flabel">Zip/Postal Code</div>
				<%= f.text_field :zip_code, required: true, style: "font-size:110%;margin-right:25px;" %>
	    </div>
	    <div style="float:left;">
				<div class="flabel">Country</div>
				<%= f.country_select :country, ["United States"], {}, {style: "width:285px;"} %>
	    </div>
    </div>
	</span>
</div>

<%= f.hidden_field :new_order_path, value: @new_order_path %>