<% if Picture.purchased_by_user(current_user).all != [] %>
<div id="myCarousel" class="carousel slide" style="margin-left:auto;margin-right:auto;width:500px;margin-top:50px;">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <% Picture.purchased_by_user(current_user)[1..-1].each_with_index do |picture, idx| %>
	    <li data-target="#myCarousel" data-slide-to="<%= idx + 1 %>"></li>
    <% end %>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
    	<%= image_tag(Picture.purchased_by_user(current_user).first.pic.url(:large)) %>
    	<div class="carousel-caption">
    		<h2>To Send More Pics Click <%= link_to "Here", new_order_path %>!</h2>
    	</div>
    </div>
    <% Picture.purchased_by_user(current_user)[1..-1].each do |picture| %>
	    <div class="item">
	    	<%= image_tag(picture.pic.url(:large)) if picture.pic_content_type %>
		    <div class="carousel-caption">
	    		<h2>To Send More Pics Click <%= link_to "Here", new_order_path %>!</h2>
	    	</div>
	    </div>
    <% end %>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<% else %>
<div class="center-pic">
	<%= link_to image_tag('mailbox.jpg', class: "product-pic"), new_order_path %>
	<span style="position:relative;right:17px;"><%= link_to "Click Here To", new_order_path, class: "send-pics-btn" %></span><br><br>
	<%= link_to "Send Pics", new_order_path, class: "send-pics-btn" %>
</div>
<% end %>

<% if current_user.orders.purchased.any? %>
	<br><br>
	<h2>Your Order History</h2>

	<table class="order-table">
    <tr>
    	<th>Date</th>
    	<th>Pics</th>
    	<th>Recipients</th>
    	<th>Price</th>
    	<th>View Pics</th>
    </tr>
    <% current_user.orders.purchased.each do |order| %>
    	<tr>
	    	<td><%= order.created_at.strftime("%B %d, %Y") %></td>
	    	<td><%= order.pictures.count %></td>
	    	<td><%= order.recipient_count %></td>
	    	<td><%= "$#{order.recipient_count*3}" %></td>
	    	<td><%= link_to image_tag("glyphicons_319_sort.png"), order_path(order), target: "_blank" %></td>
	    </tr>
    <% end %>
	</table>
<% end %>

<br><br>
<h2>Your little one</h2>
<p>
	<span style="font-weight:bold;"><%= "#{current_user.children.first.first_name} #{current_user.children.first.last_name}" %></span><br>
	<%= "Born #{current_user.children.first.birthday.strftime("%B %d, %Y")}" %>
</p>
<div style="margin-top:10px;" class="links">
	<%= link_to "Edit", edit_child_path(current_user.children.first) %>
</div>

<br><br>
<h2>Your Distribution List</h2>

<div style="margin:10px 0;" class="links">
<%= link_to "Add Recipient", new_sendee_path %>
</div>

<p>
	<span style="font-weight:bold;"><%= "#{current_user.first_name} #{current_user.last_name}" %></span><br>
	<%= current_user.address %><br>
	<%= "#{current_user.city}, #{current_user.state}, #{current_user.zip_code}" %>
</p>
<div style="margin-top:10px;" class="links">
	<%= link_to "Edit", edit_user_registration_path(current_user) %>
</div><br>

<% current_user.sendees.each do |sendee| %>
	<p>
		<span style="font-weight:bold;"><%= "#{sendee.first_name} #{sendee.last_name}" %></span><br>
		<%= sendee.address %><br>
		<%= "#{sendee.city}, #{sendee.state}, #{sendee.zip_code}" %>
	</p>
	<div style="margin-top:10px;" class="links">
		<%= link_to "Edit", edit_sendee_path(sendee) %> | 
		<%= link_to "Delete", sendee, method: :delete, confirm: "You sure?" %>
	</div><br>
<% end %>